#sidebar .panel p a {
  color:#fff;
  }

.wax-legend .measure-lgd-horiz {
  height:20px;
  }
  
.wax-legend .measure-lgd-horiz .good {
  margin-right:70px !important;
  }

input, textarea, select {
  display: inline !important;
  zoom:1;
  }

.code-label {
  float:left;
  }

textarea.embed-code, textarea.api-code {
  width:100px;
  }

textarea.ie-resize {
  width:485px;
  }

.category ul li {
  display: inline !important;
  zoom:1;
  margin-bottom:-16px !impoartant;
  }
  
.category ul li a {
  color: #666;
  }

.panel.data .explain {
  margin-top:30px;
  }


#layerlist {
  overflow-x:hidden;
  }

#attribution .mapbox-logo {
  display:inline !important;
  zoom:1;
  }

#facebook {
  display:inline !important;
  zoom:1;
  }

a.logo {
  display: inline !important;
  zoom:1;
  }

.share-modal, .about-modal {
  background: url(../images/dark-bg.png) repeat 0 0;
}
