<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <title>Sahel Food Crisis</title>
  <link rel='stylesheet' href='css/reset.css' type='text/css' media='screen' />
  <link rel='stylesheet' href='css/style.css' type='text/css' media='screen' />
  <!--[if IE 7]>
        <link rel="stylesheet" type="text/css" href="css/IE7.css">
   <![endif]-->
  <link rel='stylesheet' href='css/ipad.css' type='text/css' media='only screen and (device-width: 768px)' />
  <script src='js/libs/jquery-1.7.1.min.js' type='text/javascript'></script>
  <script src='js/libs/jquery-ui-1.8.18.custom.min.js' type='text/javascript'></script>
  <script src='js/libs/jquery.ui.touch-punch.min.js' type='text/javascript'></script>
  <script src='js/libs/iscroll.js' type='text/javascript'></script>
  <script src='js/libs/modestmaps.min.js' type='text/javascript'></script>
  <script src='js/libs/wax.mm.min.js' type='text/javascript'></script>
  <script src='js/libs/easey.js' type='text/javascript'></script>
  <script src='js/libs/easey.handlers.js' type='text/javascript'></script>
  <script src='js/site.js' type='text/javascript'></script>
  <link href='http://fonts.googleapis.com/css?family=Cabin:200,400,600' rel='stylesheet' type='text/css'>
  
  <script type="text/javascript">var badIE = false;</script>
  <!--[if IE 7]>
  <script type="text/javascript">var badIE = true;</script>
  <![endif]-->
  
  <script type="text/javascript">
  // Google Analytics
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-88478-33']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  </script>
  
</head>

<body class='no-touch'>

  {{content}}
  
</body>
</html>